*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
  font-family: "Epilogue", sans-serif;
}
a,
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
ul {
  list-style: none;
}
button,
button:focus {
  outline: none;
  background: transparent;
  border: none;
  cursor: pointer;
}
.btn {
  color: inherit;
  font-family: inherit;
  padding: 1.8rem 3.5rem;
}
.header{
    background-color: var(--color-dark-1);
   width: 100%;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 13.5rem;
  color: var(--color-white);
  @media only screen and (max-width:1200px) {
      padding: 1.6rem 8rem;
      
  }
  
  &__links {
    display: flex;
  }
  @media only screen and (max-width:900px) {
      display: none;
      
  }
  &__list {
    display: flex;
    
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.8rem;
    font-style: normal;
    li {
        padding: .5rem 2rem;
        border-radius: .6rem;
        border: 1px solid transparent;
        transition: all .3s;
        &:not(:last-child){
            margin-right: 18rem;
        }
        @media only screen and (max-width:1400px) {
      &:not(:last-child){
            margin-right: 10rem;
        }
      
  }
  @media only screen and (max-width:1200px) {
      &:not(:last-child){
            margin-right: 6rem;
        }
      
  }
        &:hover{
            color: var(--color-primary);
            border: 1px solid var(--color-primary);
        }
    }
  }
}
.logo {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.2rem;
  span{
      color: var(--color-primary);
  }
}
.btn-contact{
    border: 1px solid rgba(255, 255, 255, 0.295743);;
    border-radius: .6rem;
    font-size: 1.4rem;
    line-height: 1.4rem;
    font-weight: 600;
    @media only screen and (max-width:1570px) {
      
          display: none;
      
      
  }
}