.hero {
  display: flex;
  justify-content: space-between;
  padding: 11.4rem 13.5rem;
  background-color: var(--color-dark-1);
  @media only screen and (max-width: 1350px) {
    flex-direction: column;
  }
  @media only screen and (max-width: 600px) {
    flex-direction: column;
    justify-content: center;
  }
  @media only screen and (max-width: 370px) {
    flex-direction: column;
    justify-content: center;
    padding: 11.4rem 5rem;
  }
  &__left {
    margin-right: 15rem;
    @media only screen and (max-width: 600px) {
      margin-right: 0;
    }
    h3 {
      color: var(--color-primary);
      font-size: 2.5rem;
      line-height: 3.2rem;
      font-weight: 300;
      @media only screen and (max-width: 600px) {
        font-size: 2rem;
      }
    }
    h1 {
      font-size: 6rem;
      line-height: 8rem;
      color: var(--color-white);
      margin-top: 2.5rem;
      @media only screen and (max-width: 600px) {
        font-size: 4rem;
        line-height: 5rem;
      }
    }
    p {
      color: rgba(255, 255, 255, 0.64);
      font-size: 2rem;
      font-weight: 400;
      line-height: 3.2rem;
      margin-top: 2.5rem;
      @media only screen and (max-width: 600px) {
        font-size: 1.8rem;
      }
    }
    .btns {
      color: var(--color-white);
      margin-top: 3.5rem;
    }
    .btn-projects {
      font-size: 1.5rem;
      font-weight: 600;
      line-height: 1.5rem;
      color: var(--color-white);
      background-color: var(--color-primary);
      border: 1px solid var(--color-primary);

      border-radius: 0.6rem;
      margin-right: 4.6rem;
      @media only screen and (max-width: 600px) {
        font-size: 1.5rem;
      }
    }
    .darr {
      color: var(--color-white);
      font-size: 6.3rem;
      margin-top: 15rem;
      transform: translateY(0);
      animation: darr 2s infinite linear;
      @media only screen and (max-width: 1350px) {
        font-size: 5rem;
      }
      @media only screen and (max-width: 600px) {
        font-size: 4rem;
      }
    }
  }
  &__right {
      
    @media only screen and (max-width: 1350px) {
      display: none;
    }
    @media only screen and (max-width: 350px) {
      display: none;
    }
  }
}
